{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles %}

  {{super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% block content %}

  <h3>Current Sports News</h3>
  <ul>  

    {{ macro.displayNewsList(sports)}}
      
  </ul>
  <h3>Current Health News</h3>
  <ul>  

    {{ macro.displayNewsList(health)}}
      
  </ul>
  <h3>Current Entertainment News</h3>
  <ul>  

    {{ macro.displayNewsList(entertainment)}}
      
  </ul>
  <h3>Current Technology News</h3>
  <ul>  

    {{ macro.displayNewsList(technology)}}
      
  </ul>
  
{% endblock %}